## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />
<%block name="bodyclass">score is-in-course course</%block>
<%block name="pagetitle">${_("SCORE")}</%block>
<%block name="headextra">
<%static:css group='style-course'/>
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='score'" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
  button {
    box-shadow: none !important;
    background-image: none !important;
  }
</style>

<div class="container" id="main-page">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Danh sách bài nộp của môn ABC</h4>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="shadow-sm p-3 mb-5 bg-body rounded">
            Màn hình Danh sách mới
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="card-content">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Thành phần điểm</th>
                      <th scope="col">Trạng thái</th>
                      <th scope="col">Hành động</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>
                        <button type="button" class="btn btn-success">
                          Passed
                        </button>
                      </td>
                      <td>
                        <div
                          class="btn-group"
                          role="group"
                          aria-label="Basic example"
                        >
                          <button type="button" class="btn btn-primary" onclick="showViewPage()">
                            Xem
                          </button>
                          <button type="button" class="btn btn-primary" onclick="showSubmitFilePage()">
                            Nộp bài
                          </button>
                          <button type="button" class="btn btn-primary" onclick="showBookPage()">
                            Đặt lịch
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>
                        <button type="button" class="btn btn-danger">
                          Not Passed
                        </button>
                      </td>
                      <td>
                        <div
                          class="btn-group"
                          role="group"
                          aria-label="Basic example"
                        >
                        <button type="button" class="btn btn-primary" onclick="showViewPage()">
                            Xem
                          </button>
                          <button type="button" class="btn btn-primary" onclick="showSubmitFilePage()">
                            Nộp bài
                          </button>
                          <button type="button" class="btn btn-primary" onclick="showBookPage()">
                            Đặt lịch
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>
                        <button type="button" class="btn btn-info">
                          Submitted
                        </button>
                      </td>
                      <td>
                        <div
                          class="btn-group"
                          role="group"
                          aria-label="Basic example"
                        >
                        <button type="button" class="btn btn-primary" onclick="showViewPage()">
                            Xem
                          </button>
                          <button type="button" class="btn btn-primary" onclick="showSubmitFilePage()">
                            Nộp bài
                          </button>
                          <button type="button" class="btn btn-primary" onclick="showBookPage()">
                            Đặt lịch
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>
                        <button type="button" class="btn btn-primary">
                          Open
                        </button>
                      </td>
                      <td>
                        <div
                          class="btn-group"
                          role="group"
                          aria-label="Basic example"
                        >
                        <button type="button" class="btn btn-primary" onclick="showViewPage()">
                            Xem
                          </button>
                          <button type="button" class="btn btn-primary" onclick="showSubmitFilePage()">
                            Nộp bài
                          </button>
                          <button type="button" class="btn btn-primary" onclick="showBookPage()">
                            Đặt lịch
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" id="view-page" style="display: none;">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Xem thông tin bài nộp</h4>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 col-md-4"><b>Thành phần điểm: </b></div>
                <div class="col-sm-6 col-md-4">Assignment 3</div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-6 col-md-4"><b>Môn học:</b></div>
                <div class="col-sm-6 col-md-4">WEB101-2A</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4"><b>Email học viên:</b></div>
                <div class="col-sm-6 col-md-4">HVFx200@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4">
                  <b>File nộp của học viên</b>
                </div>
                <div class="col-sm-6 col-md-4">
                  <button type="button" class="btn btn-link">Link tải</button>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4">
                  <b>Thời điểm đăng ký review:</b>
                </div>
                <div class="col-sm-6 col-md-4">12/07/2023 (Chiều)</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4"><b>Thời điểm review</b></div>
                <div class="col-sm-6 col-md-4">15:00 Ngày 12/07/2023</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4"><b>Lần review:</b></div>
                <div class="col-sm-6 col-md-4">2/2</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4"><b>Email Mentor:</b></div>
                <div class="col-sm-6 col-md-4">Mentor@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4"><b> Option đã chọn:</b></div>
                <div class="col-sm-6 col-md-4">Chỉ HT nếu có 2 option</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4"><b>Điểm:</b></div>
                <div class="col-sm-6 col-md-4">7</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4"><b>Nhận xét:</b></div>
                <div class="col-sm-6 col-md-4">Học viên hiểu cơ bản</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-6 col-md-4"><b>Trạng thái:</b></div>
                <div class="col-sm-6 col-md-4">
                  <button type="button" class="btn btn-success">
                    Submitted
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card col-md-12 mt-4 mb-2">
            <div class="card-body">
              <h5 class="card-title text-bg-light">Chi tiết bài chấm</h5>
              <div class="card-content">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Trọng số</th>
                      <th scope="col">Mô tả tiêu chí</th>
                      <th scope="col">Điểm</th>
                      <th scope="col">Nhận xét</th>
                      <th scope="col">Tiêu chí bắt buộc?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td colspan="2">Larry the Bird</td>
                      <td>@twitter</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="submit-file-page" style="display: none;">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Nộp file</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <div class="container mt-4">
                <div class="row">
                <div class="col-sm-6 col-md-4"><b>Thành phần điểm: </b></div>
                <div class="col-sm-6 col-md-4">Assignment 3</div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-6 col-md-4"><b>Email học viên:</b></div>
                <div class="col-sm-6 col-md-4">MinhAnhFx20338@gmail.com</div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6 col-md-4">Option</div>
                <div class="col-sm-6 col-md-4">Chọn Option</div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-6 col-md-4">File đính kèm</div>
                <div class="col-sm-6 col-md-4">
                    <button type="button" class="btn btn-primary">Chọn file đính kèm</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6 col-sm-3">
            <button type="button" class="btn btn-warning btn-lg">Nộp bài</button>
        </div>
    </div>
</div>

<div class="container" id="book-page" style="display: none;">
  <div class="card">
      <div class="card-body text-center">
          <h5 class="card-title">Đặt một lịch phiên review</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
  </div>
  <div class="card mt-4">
      <div class="card-body">
          <div class="container mt-4">
              <div class="row">
              <div class="col-sm-6 col-md-4"><b>Thành phần điểm: </b></div>
              <div class="col-sm-6 col-md-4">Assignment 3</div>
          </div>
          <div class="row mt-2">
              <div class="col-sm-6 col-md-4"><b>Email học viên:</b></div>
              <div class="col-sm-6 col-md-4">MinhAnhFx20338@gmail.com</div>
          </div>
          <div class="row mt-3">
              <div class="col-sm-6 col-md-4">Lần review:</div>
              <div class="col-sm-6 col-md-4">2/2</div>
          </div>
          <div class="row mt-2">
              <div class="col-sm-6 col-md-4">Thời gian Interview</div>
              <div class="col-sm-6 col-md-4">
                  <button type="button" class="btn btn-light">Chọn ngày</button>
              </div>
          </div>
          <div class="row mt-2">
              <div class="col-sm-6 col-md-4">Thời buổi (Nếu chọn Thứ 7)</div>
              <div class="col-sm-6 col-md-4">
                  <button type="button" class="btn btn-light">Chọn buổi</button>
              </div>
          </div>
      </div>
      </div>
  </div>

  <div class="row mt-5">
      <div class="col-6 col-sm-3">
          <button type="button" class="btn btn-warning btn-lg mx-2">Đặt lịch</button>
      </div>
  </div>
  
</div>

<script type="text/javascript">

function showViewPage(){
  const main_page = document.getElementById("main-page");
  main_page.style.display = 'none';

  const view_page = document.getElementById("view-page");
  view_page.style.display = 'block';
}

function showSubmitFilePage(){
  const main_page = document.getElementById("main-page");
  main_page.style.display = 'none';

  const submit_file_page = document.getElementById("submit-file-page");
  submit_file_page.style.display = 'block';
}

function showBookPage(){
  const main_page = document.getElementById("main-page");
  main_page.style.display = 'none';

  const book_page = document.getElementById("book-page");
  book_page.style.display = 'block';
}

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>